<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

		<context:component-scan base-package="springMVC.study.dao"/>
		<context:component-scan base-package="springMVC.study.service"/>
		<context:component-scan base-package="springMVC.study.controller"/>
		
        <!-- 配置dataSource -->
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        	<property name="url" value="jdbc:mysql://127.0.0.1/test"></property>
        	<property name="username" value="root"></property>
        	<property name="password" value="123456"></property>
        </bean>
        
        <!-- 配置工厂 -->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        	<property name="dataSource" ref="dataSource"></property>
        	<property name="configLocation" value="classpath:mybatis.cfg.xml"></property>
        	<property name="mapperLocations" value="classpath:springMVC/study/pojo/*.xml" />
        </bean>
        
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
         	p:sqlSessionFactory-ref="sqlSessionFactory"
         	p:basePackage="springMVC.study.dao"/> 

	    <!-- 配置事务管理器 -->  
	    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
	     	<property name="dataSource" ref="dataSource" />  
	    </bean>  
	     
	   	<!-- 配置事物的注解方式注入 -->  
	    <tx:annotation-driven transaction-manager="transactionManager"/>    
	 
	    <bean id="sqlSession"     class="org.mybatis.spring.SqlSessionTemplate">     
	          <constructor-arg index="0" ref="sqlSessionFactory" />     
	          <constructor-arg index="1" value="BATCH" />    
	   </bean> 

</beans>